In [1]:
# Importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import matplotlib.pyplot as plt

In [2]:
#Creating a SparkSession
spark = SparkSession.builder \
    .appName("TrafficVolumeAnalysis") \
    .getOrCreate()

24/04/01 18:43:34 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
#Loading the dataset into a PySpark DataFrame
file_path = "file:///home/hduser/Desktop/SEM2_CA1/da_sem2_ca1_rep/dataset.csv"
df = spark.read.csv(file_path, header=True)

In [4]:
# Displaying schema
df.printSchema()

root
 |-- STATISTIC: string (nullable = true)
 |-- Statistic Label: string (nullable = true)
 |-- TLIST(A1): string (nullable = true)
 |-- Year: string (nullable = true)
 |-- C02875V03459: string (nullable = true)
 |-- Type of Vehicle: string (nullable = true)
 |-- UNIT: string (nullable = true)
 |-- VALUE: string (nullable = true)

In [5]:
# Displaying first few rows
df.show(5)

+---------+---------------+---------+----+------------+--------------------+------+-------+
|STATISTIC|Statistic Label|TLIST(A1)|Year|C02875V03459|     Type of Vehicle|  UNIT|  VALUE|
+---------+---------------+---------+----+------------+--------------------+------+-------+
|  THA10C1| Traffic Volume|     2000|2000|           -|   All vehicle types|Number|1666744|
|  THA10C1| Traffic Volume|     2000|2000|          10|        Private cars|Number|1314059|
|  THA10C1| Traffic Volume|     2000|2000|          20|      Goods vehicles|Number| 199259|
|  THA10C1| Traffic Volume|     2000|2000|          30|        Motor cycles|Number|  28489|
|  THA10C1| Traffic Volume|     2000|2000|          40|Tractors & Machinery|Number|  74211|
+---------+---------------+---------+----+------------+--------------------+------+-------+
only showing top 5 rows

In [6]:
# Summary statistics
df.describe().show()

24/04/01 18:43:40 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+---------+--------------------+-----------------+-----------------+------------------+--------------------+----------+-----------------+
|summary|STATISTIC|     Statistic Label|        TLIST(A1)|             Year|      C02875V03459|     Type of Vehicle|      UNIT|            VALUE|
+-------+---------+--------------------+-----------------+-----------------+------------------+--------------------+----------+-----------------+
|  count|      621|                 621|              621|              621|               621|                 621|       621|              621|
|   mean|     null|                null|           2011.0|           2011.0|              45.0|                null|      null|187615.0499194847|
| stddev|     null|                null|6.638596820257663|6.638596820257663|22.933661135264696|                null|      null|566037.9054208661|
|    min|  THA10C1|Average Kilometre...|             2000|             2000|                 -|   All vehicle types|Kilometres|             1006|
|    max|  THA10C3|      Traffic Volume|             2022|             2022|                80|Tractors & Machinery|    Number|              970|
+-------+---------+--------------------+-----------------+-----------------+------------------+--------------------+----------+-----------------+

In [7]:
# Dropping columns 
columns_to_drop = ['STATISTICS', 'TLIST(A1)', 'C02875V03459', 'UNIT']
df = df.drop(*columns_to_drop)

In [8]:
# Displaying first few rows
df.show(5)

+---------+---------------+----+--------------------+-------+
|STATISTIC|Statistic Label|Year|     Type of Vehicle|  VALUE|
+---------+---------------+----+--------------------+-------+
|  THA10C1| Traffic Volume|2000|   All vehicle types|1666744|
|  THA10C1| Traffic Volume|2000|        Private cars|1314059|
|  THA10C1| Traffic Volume|2000|      Goods vehicles| 199259|
|  THA10C1| Traffic Volume|2000|        Motor cycles|  28489|
|  THA10C1| Traffic Volume|2000|Tractors & Machinery|  74211|
+---------+---------------+----+--------------------+-------+
only showing top 5 rows

In [9]:
# Summary statistics
df.describe().show()

+-------+---------+--------------------+-----------------+--------------------+-----------------+
|summary|STATISTIC|     Statistic Label|             Year|     Type of Vehicle|            VALUE|
+-------+---------+--------------------+-----------------+--------------------+-----------------+
|  count|      621|                 621|              621|                 621|              621|
|   mean|     null|                null|           2011.0|                null|187615.0499194847|
| stddev|     null|                null|6.638596820257663|                null|566037.9054208661|
|    min|  THA10C1|Average Kilometre...|             2000|   All vehicle types|             1006|
|    max|  THA10C3|      Traffic Volume|             2022|Tractors & Machinery|              970|
+-------+---------+--------------------+-----------------+--------------------+-----------------+

In [10]:
#Filtering thr rows as required
df = df.filter(df['Statistic Label'] == "Traffic Volume")

In [11]:
df.show()

+---------+---------------+----+--------------------+-------+
|STATISTIC|Statistic Label|Year|     Type of Vehicle|  VALUE|
+---------+---------------+----+--------------------+-------+
|  THA10C1| Traffic Volume|2000|   All vehicle types|1666744|
|  THA10C1| Traffic Volume|2000|        Private cars|1314059|
|  THA10C1| Traffic Volume|2000|      Goods vehicles| 199259|
|  THA10C1| Traffic Volume|2000|        Motor cycles|  28489|
|  THA10C1| Traffic Volume|2000|Tractors & Machinery|  74211|
|  THA10C1| Traffic Volume|2000|          Small PSVs|  13983|
|  THA10C1| Traffic Volume|2000|          Large PSVs|   6726|
|  THA10C1| Traffic Volume|2000|     Exempt vehicles|  12448|
|  THA10C1| Traffic Volume|2000|      Other vehicles|  17569|
|  THA10C1| Traffic Volume|2001|   All vehicle types|1748599|
|  THA10C1| Traffic Volume|2001|        Private cars|1372672|
|  THA10C1| Traffic Volume|2001|      Goods vehicles| 214767|
|  THA10C1| Traffic Volume|2001|        Motor cycles|  31589|
|  THA10C1| Traffic Volume|2001|Tractors & Machinery|  73281|
|  THA10C1| Traffic Volume|2001|          Small PSVs|  15799|
|  THA10C1| Traffic Volume|2001|          Large PSVs|   6985|
|  THA10C1| Traffic Volume|2001|     Exempt vehicles|  13744|
|  THA10C1| Traffic Volume|2001|      Other vehicles|  19762|
|  THA10C1| Traffic Volume|2002|   All vehicle types|1833705|
|  THA10C1| Traffic Volume|2002|        Private cars|1437985|
+---------+---------------+----+--------------------+-------+
only showing top 20 rows

In [12]:
# Converting Spark DataFrame to Pandas DataFrame for visualization
pandas_df = df.toPandas()

ImportError: Pandas >= 1.0.5 must be installed; however, it was not found.